doctype html
html
    head
        title=title
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.2.0/dist/leaflet.css')
        link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
        
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        script(src='https://unpkg.com/leaflet@1.2.0/dist/leaflet.js')
        script(src='/javascript/Leaflet.Editable.js')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='/javascript/Leaflet.draw/src/Leaflet.draw.js')
        script(src='/javascript/Leaflet.draw/src/Leaflet.Draw.Event.js')
        link(rel='stylesheet', href='/javascript/Leaflet.draw/src/leaflet.draw.css')

        script(src='/javascript/Leaflet.draw/src/Toolbar.js')
        script(src='/javascript/Leaflet.draw/src/Tooltip.js')

        script(src='/javascript/Leaflet.draw/src/ext/GeometryUtil.js')
        script(src='/javascript/Leaflet.draw/src/ext/LatLngUtil.js')
        script(src='/javascript/Leaflet.draw/src/ext/LineUtil.Intersect.js')
        script(src='/javascript/Leaflet.draw/src/ext/Polygon.Intersect.js')
        script(src='/javascript/Leaflet.draw/src/ext/Polyline.Intersect.js')
        script(src='/javascript/Leaflet.draw/src/ext/TouchEvents.js')

        script(src='/javascript/Leaflet.draw/src/draw/DrawToolbar.js')
        script(src='/javascript/Leaflet.draw/src/draw/handler/Draw.Feature.js')
        script(src='/javascript/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js')
        script(src='/javascript/Leaflet.draw/src/draw/handler/Draw.Polyline.js')
        script(src='/javascript/Leaflet.draw/src/draw/handler/Draw.Marker.js')
        script(src='/javascript/Leaflet.draw/src/draw/handler/Draw.Circle.js')
        script(src='/javascript/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js')
        script(src='/javascript/Leaflet.draw/src/draw/handler/Draw.Polygon.js')
        script(src='/javascript/Leaflet.draw/src/draw/handler/Draw.Rectangle.js')

        script(src='/javascript/Leaflet.draw/src/edit/EditToolbar.js')
        script(src='/javascript/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js')
        script(src='/javascript/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js')

        script(src='/javascript/Leaflet.draw/src/Control.Draw.js')

        script(src='/javascript/Leaflet.draw/src/edit/handler/Edit.Poly.js')
        script(src='/javascript/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js')
        script(src='/javascript/Leaflet.draw/src/edit/handler/Edit.Rectangle.js')
        script(src='/javascript/Leaflet.draw/src/edit/handler/Edit.Marker.js')
        script(src='/javascript/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js')
        script(src='/javascript/Leaflet.draw/src/edit/handler/Edit.Circle.js')
    body
        block content  